#caja1{

    /*
    border-width: 3px;
    border-style: solid;
    border-color: blue; */

    background-color: cornflowerblue;
    border: 3px solid pink;

    /* COmo redondear bordes */
    border-radius: 10px;

}

#caja2{

    background: rgb(26, 165, 123);
    color: white;
    border-top: 3px solid red;
    border-left: 5px solid green;
    border-right: 10px solid yellow;
    border-bottom: 10px solid blue;
    border-radius: 10px 20px 30px 40px;

}

#caja3{

    background-image: url(../Images/sapito.jpg);
    color: white;
    background-position: center-top;
    background-repeat: no-repeat;
    width: 1200px;
    height: 800px;
    background-size: cover;
    border-radius: 10px;
    border-radius: 20px 0px 20px 0px;

}