*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.caja1{
    border: 1px solid black;
    background-color: lightblue;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 400px;
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;

}

.caja2{
    border: 1px solid black;
    background-color: lightblue;
    color: white;
    margin: 20px;
    padding: 20px;
    width: 400px;
    border: 3px solid gray;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.caja1 h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    margin: 10px;
}

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: aliceblue;
    text-shadow: 2px 2px 4px #000000;
    border: #000000;
}